/* Reset */
body,
html,ul,li {
  margin: unset;
  border: unset;
  padding: unset;
  vertical-align: baseline;
}

h1 {
  font: unset;
  font-size: unset;
  font-weight: unset;
}

ul,
li {
  list-style-type: none;
}

/* font  */
:root {
  font-family: "arial";
}

/* Design */
body {
  background-color: #d9d9d9;
}

.container {
  background-color: #eeeeee;
  width: 448px;
  margin: 110px auto;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.bucket-list-title {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px 20px 0 0;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.bucket-list-title h1 {
  color: #ff007a;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.bucket-list-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 32px;
  background-color: #ff007a;
}

.bucket-list {
  padding: 40px 38px;
}

.bucket-item {
  background-color: #ffffff;
  color: #888888;
  margin-top: 21px;
  border-radius: 10px;
  border: 4px solid #d9d9d9;
  padding: 10px 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.bucket-item.selected {
  border-color: #759cff;
  color: #759cff;
  background: #ffffff url(images/check.png) no-repeat right center;
}

.bucket-item:nth-of-type(1) {
  margin-top: 0;
}

.bucket-item:nth-of-type(5) {
  margin-bottom: 0;
}
