/* Reset */
body, ul, p {
  margin: unset;
  padding: unset;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  color: unset;
  text-decoration: unset;
}

h1, h2, h3, h4, h5, h6 {
  margin: unset;
  font-weight: unset;
}

/* Typography */
:root {
  font-family: 'Montserrat', sans-serif;
}

/* Layouts */
.l_wrapper {
  max-width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}

/* Components */
:root{
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #888;
}

.cover {
  /* 비율이 유지되는 div! */
  aspect-ratio: 24 / 9;

  /* cover img의 스태킹 컨텍스트가 될 수 있게! */
  position: relative;
  z-index: 0;

  overflow: hidden; /* 사실 요곤 이제 필요 없지요 */

  /* 하위 요소 h1을 효과적으로 레이아웃 할 수 있게! */
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.cover h1 {
  color: white;
  font-size: 3vw;
  letter-spacing: 0.4em;
  text-indent: 0.4em;
}

.cover::before {
  content: " ";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%);

  /* .cover내에서 뒤로 들어가게! */
  z-index: -1;
}

/* background-image를 CSS 기법을 이용해서 연출 */
.cover img {
  position: absolute;
  left: 0;
  top: 0;

  /* .cover내에서 맨 뒤로 들어가게! */
  z-index: -2;

  /* 상위 요소의 aspect-ratio 기준으로 가득 차게! */
  width: 100%;
  height: 100%;

  /* 비율이 찌그러지지 않게 내부적으로 비율 재조정 */
  object-fit: cover;
}

/* 아랫쪽은 진도와 관계없지만 한번 살펴보면 좋음 ㅎㅎ */
.menu {
  font-size: 20px;
  margin: 20px 0;
}

.menu li a {
  display: block;
  padding: 4px 18px;
}

.grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax( 200px, 1fr) );
  gap: 20px;
}

.contents {
  padding: 60px 0;
}

.movie {
  border-radius: 10px;
  background-color: #111;
  overflow: hidden;
  height: 100%;
}

.movie_red    { color: #b92f19; }
.movie_blue   { color: #336699; }
.movie_brown  { color: #c67722; }
.movie_orange { color: #e4512e; }
.movie_purple { color: #8711d2; }
.movie_green  { color: #75d211; }
.movie_white  { color: #ddd; }

.movie-cover {
  max-width: 100%;
  height: auto;
  border-bottom: 5px solid currentColor;
  vertical_align: top;
}

.movie h2 {
  font-weight: bold;
  margin: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie p {
  line-height: 1.3;
  margin: 12px;
  color: #444;
}

.container {
  display: flex;
  align-items: flex-start;
}

.container-sidebar {
  width: 200px;
  position: sticky;
  left: 0;
  top: 0;
}

.container-main {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
}

.logo {
  width: 200px;
  height: 220px;
  display: block;
  background-image: url(images/logo.png);
  background-size: cover;
  transition: all .4s;
}

.logo:hover {
  background-image: url(images/logo-hover.png);
}

.section {
  margin-bottom: 40px;
  min-height: 100vh;
}

.section-title {
  font-family: 'Caveat', cursive;
  padding: 40px 0 30px;
  font-size: 30px;
  color: white;
}

.description {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  gap: 40px;
}

.description-contents {
  flex-grow: 1;
  flex-basis: 320px;
  min-width: 0;
}

.description-cover {
  width: 320px;
}

.description h3 {
  color: salmon;
  margin-bottom: 20px;
}

.footer {
  border-top: 1px solid #555;
  padding: 30px 0;
  font-size: 1rem; 
}
