/* 초기화 및 기본 스타일 */
body,
h1,
p {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

/* 전체 배경 이미지 설정 */
body {
  background-image: url("./images/bg.png");
}

/* 여우 컨테이너 스타일 */
.fox_container {
  width: 300px;
  margin: 60px auto;
}

/* 메뉴 스타일 */
.menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: black;
  padding: 20px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  margin: 10px 0;
  color: white;
}
a:link {
  text-decoration: none;
}

a:visited{
  color: white;
  text-decoration: none;
}

a:hover{
  color: black;
  background-color: white;
  text-decoration: underline
}

/* 여우 이미지 스타일 */
.fox_img {
  display: block;
  width: 100%;
}

/* 텍스트 박스 스타일 */
.text_box {
  font-family: Arial;
  background-color: #9c6035;
  border-bottom: 10px solid #46260e;
  border-radius: 0 0 30px 30px;
  padding: 30px 15px 20px;
  line-height: 1.4em;
  position: relative;
  margin-top: 50px;
}

/* 텍스트 박스 위의 추가 장식 스타일 */
.text_box::before {
  content: ""; /* 빈 내용 생성 */
  background-image: url("./images/green.png");
  background-size: cover;
  width: 100%;
  height: 50px;
  position: absolute; /* 절대 위치 설정 */
  top: -50px; /* 부모 요소 위에서 50px 위에 위치 */
  left: 0; /* 왼쪽 경계에 맞춤 */
}

/* 텍스트 박스 내 제목 스타일 */
.text_box h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

/* 텍스트 박스 내 문단 스타일 */
.text_box p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
